<div class='dialog__header headchat'>

  {{#if (isOnline online)}}

    <img src={{avatar}} alt={{name}} class='headchat__avatar_online' />
    <div class='headchat__container'>
      <h2 class='headchat__name'>{{name}}</h2>
      <span class='headchat__status_online'>{{online}}</span>
    </div>

  {{else}}

    <img src={{avatar}} alt={{name}} class='headchat__avatar' />
    <div class='headchat__container'>
      <h2 class='headchat__name'>{{name}}</h2>
      <span class='headchat__status'>{{online}}</span>
    </div>

  {{/if}}
  <button class='headchat__btn changetheme'></button>
</div>
